{% extends 'base.html.twig' %}

{% block body %}
    <img src="css/images/logo.png" id="logo">





    <div class="container">
        <div id="loginbox" style="margin-top:0%;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="">
                <div class="panel-heading">
                    {#<div class="panel-title">Login</div>#}
                </div>

                <div style="padding-top:30px" class="panel-body">

                    <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                    {#<form id="loginform" class="form-horizontal" role="form" method="post">#}
                    {{ form_start(login) }}
                    <div class="form-group">
                        {{ form_label(login.username, 'Потребителско име', {'label_attr': {'class': 'control-label'}}) }}
                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            {{ form_widget(login.username) }}
                            {#<input id="login-username" type="text" class="form-control" name="login_user[username]" value="" placeholder="потребител" required>#}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(login.password, 'Парола', {'label_attr': {'class': 'control-label'}}) }}
                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            {{ form_widget(login.password) }}
                            {#<input id="login-password" type="password" class="form-control" name="login_user[password]" placeholder="парола" required>#}
                        </div>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


                    <!--    <div class="input-group">
                                <!--  <div class="checkbox">
                                    <label>
                                      <input id="login-remember" type="checkbox" name="remember" value="1"> Remember me
                                    </label>
                                  </div>
                                </div> -->


                    <div style="margin-top:10px" class="form-group">
                        <!-- Button -->

                        <div class="col-sm-12 controls">
                            <a id="registrationBtn" href="#" onClick="$('#loginbox').hide(); $('#signupbox').show()">
                                Регистрация
                            </a>
                            <button type="submit" id="btn-login" href="#" class="btn btn-danger btb-sm pull-right">
                                Вход
                            </button>
                            <!--<a id="btn-fblogin" href="#" class="btn btn-primary">Login with Facebook</a>-->

                        </div>
                    </div>


                    {{ form_end(login) }}
                    {#</form>#}


                </div>
            </div>
        </div>
        <div id="signupbox" style="display:none; margin-top:50px"
             class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                    {#<form id="signupform" class="form-horizontal" role="form">#}
                    {{ form_start(register) }}
                    <div id="signupalert" style="display:none" class="alert alert-danger">
                        <p>Error:</p>
                        <span></span>
                    </div>


                    <div class="form-group">
                        {#<label for="email" class="col-md-12 control-label">Email</label>#}

                        <div class="col-md-12">
                            {{ form_label(register.username, 'Потребителско име', {'label_attr': {'class' : 'control-label'}}) }}
                            {#<input type="text" class="form-control" name="email" placeholder="Email Address">#}
                            {{ form_widget(register.username) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {#<label for="firstname" class="col-md-12 control-label">Потребителско име</label>#}
                        <div class="col-md-12">
                            {{ form_label(register.email, 'Email', {'label_attr': {'class' : 'control-label'}}) }}
                            {{ form_widget(register.email) }}

                            {#<input type="text" class="form-control" name="firstname" placeholder="First Name">#}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                        {{ form_label(register.race,'Раса',  {'label_attr': {'class' : 'control-label'}}) }}
                        {{ form_widget(register.race) }}
                        {#<label for="lastname" class="col-md-12 control-label">Фамилия</label>#}
                        {#<div class="col-md-12">#}
                        {#<select class="form-control" id="race" name="race">#}
                        {#<option value="0" selected>ИЗБЕРИ РАСА</option>#}
                        {#<option value="1">ТЕРАН</option>#}
                        {#<option value="2">ПРОТОС</option>#}
                        {#<option value="3">ЗЕРГ</option>#}
                        {#</select>#}
                        {#</div>#}
                            </div>
                    </div>
                    <div class="form-group">
                        {#<label for="password" class="col-md-12 control-label">Парола</label>#}
                        <div class="col-md-12">

                            {{ form_row(register.password.first) }}

                        </div>
                    </div>
                    <div class="form-group">
                        {#<label for="password" class="col-md-12 control-label">Парола</label>#}
                        <div class="col-md-12">
                            {{ form_row(register.password.second) }}

                        </div>
                    </div>

                    <div style="margin-top:10px" class="form-group">
                        <!-- Button -->

                        <div class="col-sm-12 controls">
                            <div style="float:right; font-size: 85%; position: relative; top:-10px; color: #f22907"></div>
                            <button type="submit" id="btn-login" href="#" class="btn btn-danger btn-sm pull-right">
                                Регистрация
                            </button>

                            <a class="" style="color: #f22907; margin-right: 10px" id="signinlink" href="#"
                               onclick="$('#signupbox').hide(); $('#loginbox').show()">Логин</a>
                            <!--<a id="btn-fblogin" href="#" class="btn btn-primary">Login with Facebook</a>-->

                        </div>
                    </div>

                    {{ form_end(register) }}

                    {#</form>#}
                </div>
            </div>


        </div>
    </div>

{% endblock %}