{% extends 'game-base.html.twig' %}


{% block body %}

    {#{{ include('default/login.html.twig') }}#}

    <div class="col-md-8">
        <div class="row">

            <div class="col-md-12" id="gameContent">

                <div id="galaxyWrapper">


                    {% for planet in planets %}

                        {% if planet.type == 'sun' %}
                            <div  style="display: block; left: {{ planet.X }}px; top: {{ planet.Y }}px; position: absolute;">
                                <div class="spaceEntityWrapper">
                                    <img class="sun spaceEntity" style="display: block; margin: 10px; width: 100px; height: 100px; " src="css/images/galaxies/{{ planet.image }}.png">
                                    <div class="spaceEntityInformation">
                                        <p>Име: {{ planet.name }}</p>
                                        {#<p>Притежател: пинколе</p>#}
                                        <p>Тип: СЛЪНЦЕ</p>
                                        <p>Ресурси </p>
                                        <p>Метал: {{ planet.metal }}</p>
                                        <p>Минерал: {{ planet.mineral }} </p>
                                        <p>Газ: {{ planet.gas }}</p>
                                        {#{% if true %}#}
                                            {#<button id="planet-{{ planet.id }}" class="btn btn-sm btn-info entityActionButton">ЗАРЕДИ ПЛАНЕТА</button>#}
                                        {#{% else %}#}
                                            {#<button id="planet-{{ planet.id }}" class="btn btn0sm btn-danger entityActionButton">АТАКУВАЙ МАЙКА</button>#}
                                        {#{% endif %}#}
                                    </div>
                                </div>

                            </div>
                        {% else %}
                            <div  style="display: block; left: {{ planet.X }}px; top: {{ planet.Y }}px; position: absolute;">
                                <div class="spaceEntityWrapper" >
                                    <img class="sun spaceEntity" style="display: block; margin: 10px; width: 50px; height: 50px; " src="css/images/galaxies/{{ planet.image }}.png">
                                    <div class="spaceEntityInformation">
                                        <input type="hidden" class="planetId" id="planet-{{ planet.id }}">
                                        <p>Име: {{ planet.name }}</p>
                                        <p>Притежател: {{ planet.owner }}</p>
                                        <p>Тип: {{ planet.type }}</p>
                                        <p>Ресурси </p>
                                        <p>Метал: {{ planet.metal }}</p>
                                        <p>Минерал: {{ planet.mineral }} </p>
                                        <p>Газ: {{ planet.gas }}</p>
                                        {% if planet.owner != "незаселена" and planet.ownerId == app.user.getId() %}
                                                <button id="planet-{{ planet.id }}" class="btn btn-sm btn-info entityActionButton">ЗАРЕДИ ПЛАНЕТА</button>
                                            {% else %}
                                                <button id="planet-{{ planet.id }}" class="btn btn-sm btn-danger entityActionButton">АТАКУВАЙ</button>
                                        {% endif %}
                                    </div>
                                </div>

                            </div>
                            {#<div class="spaceEntity" style="display: block; left: {{ planet.planetX }}px; top: {{ planet.planetY }}px; position: absolute;">#}
                            {#<img class="spaceEntity" style="display: block;  width: 50px; height: 50px;" src="css/images/galaxies/{{ planet.image }}.png">#}
                                {#<div class="spaceEntityInformation">#}

                                {#</div>#}
                            {#</div>#}
                        {% endif %}
                    {% endfor %}





                </div>
            </div>

        </div>
    </div>


{% endblock %}
