{% extends 'game-base.html.twig' %}


{% block body %}

    {#{{ include('default/login.html.twig') }}#}

    <div  class="col-md-8">
        <div class="row">

            <div class="col-md-12" id="gameContent">
                <div class="span7">
                    <div class="widget stacked widget-table action-table">


                        <div class="widget-content">

                            <table class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Име на галактика</th>
                                    <th class="td-actions"></th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for galaxy in galaxies %}
                                    <tr {% if loop.index is odd %}class="color"{% endif %}>
                                        <td>{{ galaxy.id }}</td>
                                        <td>{{ galaxy.name }}</td>
                                        <td class="td-actions">
                                            <a href="{{ path('galaxy',{'id': galaxy.id,'name': galaxy.name}) }}" class="btn btn-small btn-primary">
                                                <i class="btn-icon-only icon-ok">ЗАРЕДИ</i>
                                            </a>
                                            {#<a href="javascript:;" class="btn btn-small">#}
                                                {#<i class="btn-icon-only icon-remove"></i>#}
                                            {#</a>#}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>

                            </table>
                            <div class="navigation">
                                {{ knp_pagination_render(galaxies) }}
                            </div>

                        </div> <!-- /widget-content -->

                    </div> <!-- /widget -->
                </div>
            </div>

        </div>
    </div>


{% endblock %}
